Import the `zoo` module and call its function `hours()`

In [1]:
import zoo

zoo.hours()

Open 9-5 daily

In this example, `zoo` is imported and its name is changed to "menagerie"

In [2]:
import zoo as menagerie

menagerie.hours()

Open 9-5 daily

This example creates a database using the python libary `sqlite3`. The `connect()` method was called to create and connect to the new database. Next, The `execute()` method is called to execute a SQL statement to perform operations on that database. In this case, the SQL statement creates a database called `books` that contains the title, author, and year fields.

In [3]:
import sqlite3 as sql

database = sql.connect("books.db") # Create the database
database.execute("CREATE TABLE books(title VARCHAR(64) PRIMARY KEY, author VARCHAR(32), year INT)") # Create the books table

OperationalError: table books already exists

This example uses the `csv` module to read the "books2.csv" file and separate its contents into a list of lists. Each list within the master list contains the title of the book, its author, and the year. Then, using a for loop, the contents are then inserted into the database using a placeholder `INSERT` statement.

In [ ]:
import csv

with open("books2.csv") as f: # open the CSV file
    reader = csv.reader(f) # Grab data from the file
    books = [row for row in reader] # Create a mutable list of lists to hold the data

for book in books:
    # Insert each respective list of data into the database
    insertStatement = "INSERT INTO books (title, author, year) VALUES (?, ?, ?)"
    database.execute(insertStatement, (book[0], book[1], book[2]))
    # database.execute(f"INSERT INTO books VALUES({book[0]}, {book[1]}, {book[2]})")

IntegrityError: UNIQUE constraint failed: books.title

Use the `sqlalchemy` module to create an engine based on the existing database "books.db". This code connects to the engine and performs operations to grab data from the database. The data is then fetched and printed.

In [ ]:
import sqlalchemy as sqla

# Create the engine from the existing database
databaseEngine = sqla.create_engine("sqlite:///books.db")

with databaseEngine.connect() as alchemydb: # Connect to the database
    # Perform SQL operations on the database to grab data
    dbRows = alchemydb.execute(sqla.text("SELECT title FROM books"))

rows = dbRows.fetchall() # Get the raw data from the row

print(rows) # print the data

[]